<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar"
                        src="assets/images/user-null.jpg"
                        alt="User Image" width="80">
                <div>
                        <p class="app-sidebar__user-name">{{UserLogin.firstname}}</p>
                        <p class="app-sidebar__user-designation">{{getRoleName(UserLogin.role)}}</p>
                </div>
        </div>
        <ul class="app-menu">
                <!-- ฟอร์มเอกสาร -->
                <li class="treeview" [routerLinkActive]="['is-expanded']">
                        <a class="app-menu__item" href="#" data-toggle="treeview">
                                <i class="bi bi-file-earmark-text"></i><span
                                        class="app-menu__label">&nbsp; สร้างฟอร์มการชำระเงิน</span><i
                                        class="treeview-indicator fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                                <li><a class="treeview-item"
                                                [routerLink]="['/', AppURL.Authen, AuthURL.InvoiceDocument]"
                                                routerLinkActive="active">
                                                &nbsp; &nbsp; &nbsp; <i class="bi bi-pen"></i>&nbsp; เอกสารแจ้งหนี้</a>
                                </li>

                                <li><a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Invoice]"
                                                routerLinkActive="active">
                                                &nbsp; &nbsp; &nbsp; <i class="bi bi-pen"></i>&nbsp; ใบแจ้งหนี้</a>
                                </li>

                                <li>
                                        <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Delivery]"
                                                routerLinkActive="active">
                                                &nbsp; &nbsp; &nbsp; <i class="bi bi-pen"></i>&nbsp; ใบส่งของ</a>
                                </li>
                                <li>
                                        <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.MessageMemos]"
                                                routerLinkActive="active">
                                                &nbsp; &nbsp; &nbsp; <i class="bi bi-pen"></i>&nbsp; บันทึกข้อความ</a>
                                </li>
                        </ul>
                </li>

                <!-- จัดการรายการการชำระเงิน -->
                <li><a class="app-menu__item" [routerLink]="['/', AppURL.Authen, AuthURL.Financials]"
                                routerLinkActive="active">
                                 <i class="bi bi-card-checklist"></i>
                                <span class="app-menu__label">&nbsp; แสดงรายการการชำระเงิน</span></a>
                </li>

                <!-- จัดการบัญชีผู้ใช้ -->
                <!-- <li class="treeview" [routerLinkActive]="['is-expanded']">
                        <a class="app-menu__item" href="#" data-toggle="treeview"><i
                                        class="app-menu__icon fa fa-laptop"></i><span
                                        class="app-menu__label">จัดการบัญชีผู้ใช้</span><i
                                        class="treeview-indicator fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                                <li><a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Users]"
                                                routerLinkActive="active">
                                                <i class="icon fa fa-circle-o"></i> แสดงรายการผู้ใช้</a>
                                </li>

                                <li><a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.CreateUser]"
                                                routerLinkActive="active">
                                                <i class="icon fa fa-circle-o"></i> สร้างบัญชีผู้ใช้</a>
                                </li>

                        </ul>
                </li> -->

                <!-- จัดการบัญชีผู้ดูแล -->
                <!-- <li class="treeview" [routerLinkActive]="['is-expanded']">
                        <a class="app-menu__item" href="#" data-toggle="treeview"><i
                                        class="app-menu__icon fa fa-laptop"></i><span
                                        class="app-menu__label">จัดการบัญชีผู้ดูแล</span><i
                                        class="treeview-indicator fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                                <li><a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Admins]"
                                                routerLinkActive="active">
                                                <i class="icon fa fa-circle-o"></i> แสดงรายการผู้ดูแล</a>
                                </li>

                                <li><a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.CreateAdmin]"
                                                routerLinkActive="active">
                                                <i class="icon fa fa-circle-o"></i> สร้างบัญชีผู้ดูแล</a>
                                </li>
                        </ul>
                </li> -->

        </ul>
</aside>