<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>ใบส่งของ</h1>
            <p>ตัวทดลอง</p>
        </div>
        <!-- <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item"><a href="#">Form Components</a></li>
        </ul> -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <!-- ประเภทของรายได้ -->
                    <div class="form-group">
                        <label class="control-label">ประเภทของรายได้</label>
                        <small class="form-text text-muted">
                            หากไม่เลือกประเภทของรายได้เอกสารจะถูกจัดอยู่ในหมวดหมู่ #ไม่ระบุประเภทของรายได้#
                        </small>
                        <div *ngFor='let item of type_income'>
                            <div class="form-check">
                                <label class="form-check-label" (click)="onSelectType(item)">
                                    <input class="form-check-input" type="radio" name="gender">{{item.type}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>ที่ อว 68011.1/ :</label>
                        <input class="form-control" formControlName="id_doc" type="text" placeholder="088">
                        <small class="form-text text-muted">
                                    หากไม่ระบุ
                                </small>
                    </div>

                    <!-- <div class="form-group">
                        <label>ประเภทของรายได้ :</label>
                        <small class="form-text text-muted">
                            หากไม่เลือกประเภทของรายได้เอกสารจะถูกจัดอยู่ในหมวดหมู่ #ไม่ระบุประเภทของรายได้#
                        </small>
                        <div class="input-group">
                            <div class="input-group-prepend" dropdown>
                                <li dropdownToggle type="li" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-animated">
                                    {{type_income_select.type}} <span class="caret"></span>
                                </li>
                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-animated">
                                    <li *ngFor='let item of type_income' role="menuitem">
                                        <a class="dropdown-item" (click)="onSelectType(item)">
                                            {{item.type}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label>*วันที่:</label>
                        <input class="form-control" formControlName="date" type="date">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*ที่อยู่ :</label>
                        <textarea class="form-control" formControlName="address" type="text"
                            placeholder="มหาวิทยาลัยกาฬสินธุ์ 62/1 ถนนเกษตรสมบูรณ์ ตำบลกาฬสินธุ์ อำเภอเมือง จังหวัดกาฬสินธู์"
                            rows="5"></textarea>
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*กำหนดชำระเงิน (วัน):</label>
                        <input class="form-control" formControlName="payment_due" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*กำหนดยืนราคา (วัน):</label>
                        <input class="form-control" formControlName="prize_stand" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*กำหนดรับประกัน (ปี):</label>
                        <input class="form-control" formControlName="guarantee" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*รายละเอียดสินค้า : (1)</label>
                        <textarea class="form-control" formControlName="product_detail_1" type="text"
                            placeholder="1. ค่าบำรุงรักษาระบบห้องสมุด..." rows="5">
                                </textarea>
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*จำนวน : (1)</label>
                        <input class="form-control" formControlName="product_number_1" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>*ราคาต่อหน่วย : (1)</label>
                        <input class="form-control" formControlName="product_prize_1" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>รายละเอียดสินค้า : (2)</label>
                        <textarea class="form-control" formControlName="product_detail_2" type="text"
                            placeholder="ค่าบำรุงรักษาระบบห้องสมุด..." rows="5">
                                </textarea>
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>จำนวน : (2)</label>
                        <input class="form-control" formControlName="product_number_2" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <div class="form-group">
                        <label>ราคาต่อหน่วย : (2)</label>
                        <input class="form-control" formControlName="product_prize_2" type="number">
                        <!-- <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small> -->
                    </div>

                    <!-- เลือกผู้ส่ง -->
                    <div class="form-group">
                        <label>ผู้ส่งของ :</label>
                        <div class="input-group">
                            <div class="input-group-prepend" dropdown>
                                <li dropdownToggle type="li" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-animated">
                                    {{forwarder_select.name}} <span class="caret"></span>
                                </li>
                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-animated">
                                    <li *ngFor='let item of forwarders' role="menuitem">
                                        <a class="dropdown-item" (click)="forwarder_select = item">
                                            {{item.name}}
                                        </a>
                                    </li>
                                    <!-- <li role="menuitem"><a class="dropdown-item">รศ.ดร. สินชัย กมลภิวงศ์</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item">ดร. ชิดชนก โชคสุชาติ</a>
                                            </li>
                                            <li role="menuitem"><a class="dropdown-item">นางเนาวรัตน์ สอิด</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="form-group">
                                <label>*เรียน</label>
                                <textarea class="form-control" formControlName="title_to" type="text"
                                    placeholder="สำนักงานไปรษณีย์ เขต 9 สาขาที่ 1011 9/9 หมู่ 9 ค.ท่าช้าง อ.บางกล่ำ จ.สงขลา เลขประจำตัวผู้เสียภาษี 0105546095724"
                                    rows="2"></textarea>
                            </div> -->

                    <!-- <div class="form-group">
                                <label>*ข้อความเริ่ม</label>
                                <textarea class="form-control" formControlName="message_start" type="text"
                                    placeholder="ข้อความเริ่ม .." rows="5"></textarea>
                            </div> -->

                    <!-- <div class="form-group">
                                <label>*ข้อความจบ</label>
                                <textarea class="form-control" formControlName="message_end" type="text"
                                    placeholder="ข้อความจบ .." rows="5"></textarea>
                            </div> -->

                    <!-- <div class="form-group">
                                <label>ชื่อคนทำ : </label>
                                <input class="form-control" formControlName="manager_name" type="text"
                                    placeholder="นางเนาวรัตน์ สอิด">
                                <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small>
                            </div> -->

                    <!-- <div class="form-group">
                                <label>ตำแหน่ง :</label>
                                <input class="form-control" formControlName="manager_position" type="text"
                                    placeholder="หัวหน้าฝ่ายบริหารจัดการสำนักนวัตกรรมดิจิทัลและระบบอัจฉริยะ">
                                <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small>
                            </div> -->

                    <!-- <div class="form-group">
                                <label>สำนักอะไร:</label>
                                <input class="form-control" formControlName="" type="text" placeholder="">
                                <small class="form-text text-muted">
                                    We'll never share your email with anyone else.
                                </small>
                            </div> -->

                    <!-- <div class="form-group">
                                <label for="exampleInputPassword1">สำนักอะไร</label>
                                <input class="form-control" id="exampleInputPassword1" type="password"
                                    placeholder="Password">
                            </div> -->

                    <!-- <div class="form-group">
                                <label for="exampleSelect1">Example select</label>
                                <select class="form-control" id="exampleSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div> -->
                    <!-- <div class="form-group">
                                <label for="exampleSelect2">Example multiple select</label>
                                <select class="form-control" id="exampleSelect2" multiple="">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div> -->
                    <!-- <div class="form-group">
                                <label for="exampleTextarea">Example textarea</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div> -->
                    <!-- <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input class="form-control-file" id="exampleInputFile" type="file"
                                    aria-describedby="fileHelp"><small class="form-text text-muted" id="fileHelp">This
                                    is some placeholder block-level help text for the above input. It's a bit lighter
                                    and easily wraps to a new line.</small>
                            </div> -->
                    <!-- <fieldset class="form-group">
                                <legend>Radio buttons</legend>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="optionsRadios1" type="radio"
                                            name="optionsRadios" value="option1" checked="">Option one is this and
                                        that—be sure to include why it's great
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="optionsRadios2" type="radio"
                                            name="optionsRadios" value="option2">Option two can be something else and
                                        selecting it will deselect option one
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="optionsRadios3" type="radio"
                                            name="optionsRadios" value="option3" disabled="">Option three is disabled
                                    </label>
                                </div>
                            </fieldset> -->
                    <!-- <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox">Check me out
                                </label>
                            </div> -->
                    <div class="form-group btn-container">
                        <button class="btn btn-primary">
                            สร้างฟอร์ม
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-auth-content>