<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>ใบส่งของ</h1>
            <p>แบบฟอร์มสำหรับทำรายการใบส่งของ</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <!-- ประเภทของรายได้ -->
                    <div class="form-group">
                        <label class="control-label">ประเภทของรายได้</label>
                        <small class="form-text text-muted">
                            หากไม่เลือกประเภทของรายได้เอกสารจะถูกจัดอยู่ในหมวดหมู่ #ไม่ระบุประเภทของรายได้#
                        </small>
                        <div *ngFor='let item of type_income'>
                            <div class="form-check">
                                <label class="form-check-label" (click)="onSelectType(item)">
                                    <input class="form-check-input" type="radio" name="gender">{{item.type}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- อื่นๆ -->
                    <div *ngIf="flag_select">
                        <div class="form-group">
                            <label>ประเภทของรายได้:</label>
                            <input class="form-control" formControlName="type_income" type="text"
                                placeholder="ไม่เลือกประเภทของรายได้">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>ที่ อว 68011.1/ :</label>
                        <input class="form-control" formControlName="id_doc" type="text" placeholder="088">
                    </div>

                    <div class="form-group">
                        <label>*วันที่:</label>
                        <input class="form-control" formControlName="date" type="date">
                    </div>

                    <div class="form-group">
                        <label>*ที่อยู่ :</label>
                        <textarea class="form-control" formControlName="address" type="text"
                            placeholder="มหาวิทยาลัยกาฬสินธุ์ 62/1 ถนนเกษตรสมบูรณ์ ตำบลกาฬสินธุ์ อำเภอเมือง จังหวัดกาฬสินธู์"
                            rows="5"></textarea>
                    </div>

                    <div class="form-group">
                        <label>*กำหนดชำระเงิน (วัน):</label>
                        <input class="form-control" formControlName="payment_due" type="number">
                    </div>

                    <div class="form-group">
                        <label>*กำหนดยืนราคา (วัน):</label>
                        <input class="form-control" formControlName="prize_stand" type="number">
                    </div>

                    <div class="form-group">
                        <label>*กำหนดรับประกัน (ปี):</label>
                        <input class="form-control" formControlName="guarantee" type="number">
                    </div>

                    <div class="form-group">
                        <label>*รายละเอียดสินค้า : (1)</label>
                        <textarea class="form-control" formControlName="product_detail_1" type="text"
                            placeholder="ค่าบำรุงรักษาระบบห้องสมุด..." rows="5">
                                </textarea>
                    </div>

                    <div class="form-group">
                        <label>*จำนวน : (1)</label>
                        <input class="form-control" formControlName="product_number_1" type="number">
                    </div>

                    <div class="form-group">
                        <label>*ราคาต่อหน่วย : (1)</label>
                        <input class="form-control" formControlName="product_prize_1" type="number">
                    </div>

                    <div class="form-group">
                        <label>รายละเอียดสินค้า : (2)</label>
                        <textarea class="form-control" formControlName="product_detail_2" type="text"
                            placeholder="ค่าบำรุงรักษาระบบห้องสมุด..." rows="5">
                                </textarea>
                    </div>

                    <div class="form-group">
                        <label>จำนวน : (2)</label>
                        <input class="form-control" formControlName="product_number_2" type="number">
                    </div>

                    <div class="form-group">
                        <label>ราคาต่อหน่วย : (2)</label>
                        <input class="form-control" formControlName="product_prize_2" type="number">
                    </div>

                    <!-- เลือกผู้ส่ง -->
                    <div class="form-group">
                        <label>ผู้ส่งของ :</label>
                        <div class="input-group">
                            <div class="input-group-prepend" dropdown>
                                <li dropdownToggle type="li" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-animated">
                                    {{forwarder_select.name}} <span class="caret"></span>
                                </li>
                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-animated">
                                    <li *ngFor='let item of forwarders' role="menuitem">
                                        <a class="dropdown-item" (click)="forwarder_select = item">
                                            {{item.name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group btn-container">
                        <button class="btn btn-primary">
                            สร้างฟอร์ม
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</app-auth-content>