<app-auth-content>
    <div class="app-title">
        <div>
            <h1><i class="fa fa-edit"></i>บันทึกข้อความ</h1>
            <p>แบบฟอร์มสำหรับทำรายการบันทึกข้อความ</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <form [formGroup]="form" (submit)="onSubmit()">
                    <!-- ประเภทของรายได้ -->
                    <div class="form-group">
                        <label class="control-label">ประเภทของรายได้</label>
                        <small class="form-text text-muted">
                            หากไม่เลือกประเภทของรายได้เอกสารจะถูกจัดอยู่ในหมวดหมู่ #ไม่ระบุประเภทของรายได้#
                        </small>
                        <div *ngFor='let item of type_income'>
                            <div class="form-check">
                                <label class="form-check-label" (click)="onSelectType(item)">
                                    <input class="form-check-input" type="radio" name="gender">{{item.type}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <!-- อื่นๆ -->
                    <div *ngIf="flag_select">
                        <div class="form-group">
                            <label>ประเภทของรายได้:</label>
                            <input class="form-control" formControlName="type_income" type="text"
                                placeholder="ไม่เลือกประเภทของรายได้">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>*ที่ อว 68011.1/ :</label>
                        <input class="form-control" formControlName="id_doc" type="text" placeholder="088">

                    </div>

                    <div class="form-group">
                        <label>*วันที่ :</label>
                        <input class="form-control" formControlName="date" type="date" placeholder="19 เมษายน 2564">
                    </div>

                    <div class="form-group">
                        <label>*เรื่อง :</label>
                        <input class="form-control" formControlName="title" type="text"
                            placeholder="ขอแจ้งค่าเช่า Core Fiber">
                    </div>

                    <div class="form-group">
                        <label>*เรียน</label>
                        <textarea class="form-control" formControlName="title_to" type="text"
                            placeholder="สำนักงานไปรษณีย์ เขต 9 สาขาที่ 1011 " rows="2"></textarea>
                    </div>

                    <div class="form-group">
                        <label>*เนื้อหาบทความ: </label>
                        <textarea class="form-control" formControlName="message" type="text"
                            placeholder="ข้อความเริ่ม .." rows="5"></textarea>
                    </div>

                    <!-- เลือกผู้ส่ง -->
                    <div class="form-group">
                        <label>ผู้รองรับ :</label>
                        <div class="input-group">
                            <div class="input-group-prepend" dropdown>
                                <li dropdownToggle type="li" class="btn btn-primary dropdown-toggle"
                                    aria-controls="dropdown-animated">
                                    {{forwarder_select.name}} <span class="caret"></span>
                                </li>
                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-animated">
                                    <li *ngFor='let item of forwarders' role="menuitem">
                                        <a class="dropdown-item" (click)="forwarder_select = item">
                                            {{item.name}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group btn-container">
                        <button class="btn btn-primary">
                            สร้างฟอร์ม
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</app-auth-content>