<section class="material-half-bg" style="background-color: rgb(255, 255, 255);">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1 class="logo-front">PSU Financial System</h1>
    </div>
    <div class="login-box">
        <form class="login-form" [formGroup]="form" (submit)="onSubmit()">
            <h3 class="login-head">
                <i class="fa fa-lg fa-fw fa-user"></i>
                เข้าสู่ระบบ
            </h3>
            <div class="form-group">
                <label class="control-label">ชื่อบัญชีผู้ใช้</label>
                <input class="form-control" formControlName="username" type="text" placeholder="ชื่อบัญชีผู้ใช้">
            </div>
            <div class="form-group">
                <label class="control-label">รหัสผ่าน</label>
                <input class="form-control" formControlName="password" type="password" placeholder="รหัสผ่าน">
            </div>
            <!-- <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox"><span class="label-text">จำฉันไว้ในระบบ</span>
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block">
                    <i class="fa fa-sign-in fa-lg fa-fw"></i>
                    เข้าสู่ระบบ
                </button>
            </div>
        </form>
    </div>

</section>